<div class="container-fluid">
<h1>Private Events</h1><br><br>


<div class="container">
  <div class="row">
    <div class="col-sm">
      Events
        <div>
            <ol>
                <% @events.each do |event| %>
                    <li>
                    <%= event.title %>
                    </li>
                <% end %>
            </ol>
        </div>

    </div>

    <div class="col-sm">
      Location
      <div>
        <% @events.each do |event| %>
            <li>
                <%= event.location %>
            </li>
        <% end %>
      </div>
    </div>

    <div class="col-sm">
      Date
      <div>
        <% @events.each do |event| %>
            <li>
                <%= event.date %>
            </li>
        <% end %>
      </div>
    </div>

    <div class="col-sm">
      Time
      <div>
        <% @events.each do |event| %>
            <li>
                <%= event.time %>
            </li>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>