

<div class="container-fluid d-flex">
  <div class="col">
    <h2>Past Events</h2>
    <%= list_past_events(@past_events) %>
  </div>
    <div class="col">
    <h2>Upcoming Events</h2>
    <%= list_upcoming_events(@upcoming_events) %>
  </div>
</div>